# Python - Module 2 - Variables

Variables types in python, how to recognize them, how to create them

- author : François LORTHIOIR
- creation : 24/07/2020
- update : 09/10/2022
- update : 20/10/2022 
    - simplify chapter on variables
    - take out to new notebook part on datetime

**References**

Python Tutorial : https://www.w3schools.com/python/default.asp
    bien fait pour les synthèses et les références sur un grand nombre de sujets

# Introduction à Python

## Fonctions de base

In [1]:
# Un commentaire dans un code python
# Affichage d'un variable
salut = 'Hello World!'
print(salut)

Hello World!

In [3]:
a = 2 
print(a, ' - ', salut)

2  -  Hello World!

In [4]:
# Type de la variable
type(salut)

str

In [5]:
type(2.)

float

In [6]:
type(2)

int

## Variables simples

In [2]:
y = "Hello World!"
print(y)

Hello World!

In [3]:
# On peut afficher le contenu d'une variable simplement en la mentionnant dans la dernière ligne d'une cellule
yy = y + y   # concatenation de 2 chaines 
yy

'Hello World!Hello World!'

In [4]:
type(y)

str

#### Afficher les variables définies dans le notebook

In [5]:
%whos

Variable   Type      Data/Info
------------------------------
os         module    <module 'os' from '/usr/l<...>01/lib/python3.10/os.py'>
sys        module    <module 'sys' (built-in)>
y          str       Hello World!
yy         str       Hello World!Hello World!

#### Supprimer une variable

In [6]:
del y
print(y)

NameError: name 'y' is not defined

#### Commentaires  <a name="comms"></a>

Dans Python un texte est mis en commentaire (et ne sera donc pas executé à la lecture) s'il est précédent de #

In [13]:
# Ceci est un commentaire

Le raccourci pour commenter toute une sélection dans Jupyter Notebook est **??? ctrl + /**

# Types de variables simples

## Numbers <a name="numbers"></a>

### integer

In [7]:
a = 2

In [8]:
type(a)

int

In [13]:
# Opéations sur les entiers 

a = 5
b = 4

print('a + b = ', a + b)
print('a - b = ', a - b)
print('a * b = ', a * b)
print('a au carré :', a * a)
print('a au carré :', pow(a, 2))
print("suite d'opérations : " , a * a - (a + b))     # Attention aux parenthèses

a + b =  9
a - b =  1
a * b =  20
a au carré : 25
a au carré : 25
suite d'opérations :  16

In [14]:
# Evaluation d'une expression 

eval("a + b" )

9

### float

In [15]:
a = 3.5
a

3.5

In [16]:
type(a)

float

In [17]:
# Opéations sur les réels (float)

a = 5.5
b = 4.5

print('a + b = ', a + b)
print('a - b = ', a - b)
print('a * b = ', a * b)
print('a au carré :', a * a)
print('a au carré :', pow(a, 2))

a + b =  10.0
a - b =  1.0
a * b =  24.75
a au carré : 30.25
a au carré : 30.25

In [19]:
# Les divisions renvoient toujours des float

print(19./3)
print(18/3)

# Division euclidienne
print(19//3) # quotient de la division euclidienne
print(19%3) # reste de la division euclidienne

6.333333333333333
6.0
6
1

In [18]:
# Arrondi avec la fonction round()
print(19/3.2)
print(round(19/3.2, 2))    # arrondi à 2 décimales

5.9375
5.94

Conversion d'un entier en float et inversement

In [20]:
# Convertion en float
a = 2
print(a)
print(float(a))
print(type(a))
print(type(float(a)))

2
2.0
<class 'int'>
<class 'float'>

In [21]:
# Convertion en entier == > on prend la partie enitère
b = 3.7
print(int(b))

3

### Booleans <a name="booleans"></a>

True et False sont des keywords de Python correspondant aux 2 valeurs possibles pour un booléan.

In [48]:
print(True)
print(type(False))

True
<class 'bool'>

Opérateurs booléans

In [49]:
print(True and False)
print(True & False)
print(True or False)
print(True | False)

False
False
True
True

In [50]:
# Négation 
print(not(True))
print(not(False))
print(not(1))
print(not(2))
print(not(0))

False
True
False
False
True

Comparaison de nombres

In [41]:
print(2 > 2)
print(2 >= 2)
print(2 == 3)
print(2 != 3)

False
True
False
True

**Attention**

In [9]:
a = 5; print(a)    ## simple = : c'est une affectation d'une valeur à une variable 
b = 6.; print(b)

print(a == b)      ## double égal : test d'égalité de 2 variables

5
6.0
False

Transformation en booléan

In [52]:
print(bool(2))
print(bool(-1))
print(bool("a"))
print(bool(0))
print(bool(None))

True
True
True
False
False

## Strings <a name="strings"></a>

In [42]:
# Affectation, extraction d'une partie de chaine de caractères

nom = 'francois'
print(nom[0:4])
print(nom[:4])

fran
fran

**Principe :**

dans 'francois'

| lettre | ordre | rang python |
|---------|--------|-------|
| f | 1ère | 0 |
| r | 2ème | 1 |
| a | 3ème | 2 |
| n | 4ème | 3 |

In [43]:
# autre exemple
nom[5:7]

'oi'

Dans Python les strings sont en fait une liste, dont les éléments s'extraient de la même façon

In [44]:
# méthode .format() pour gérer un affichage 

number_dollars = 2

string1 = "Hello {}, how are you ?".format("John")
string2 = "Hello {1} {0}, how are you ?".format("Smith","John")
string3 = "I've got {:2.2f} Euros and {:d} Dollars".format(2,number_dollars)
string4 = "I am {year} years old and my name is {name}".format(name="John",year=12)


print(string1)
print(string2)
print(string3)
print(string4)

Hello John, how are you ?
Hello John Smith, how are you ?
I've got 2.00 Euros and 2 Dollars
I am 12 years old and my name is John

In [31]:
string5 = "I am {year:2.2f} years old and my name is {name}".format(name="John",year=12)
string5

'I am 12.00 years old and my name is John'

Les strings peuvent se concaténer avec l'opérateur + :

In [34]:

chaine1 = 'hello'
chaine2 = 'world'
chaine3 = chaine1 + ' ' + chaine2
print(chaine3)

hello world

Il est possible d'intéragir avec l'utilisateur pour lui demander de rentrer une commande -> fonction **input**

In [13]:
mon_input = input("Saisissez une chaine de caracteres : \n")

In [14]:
print(mon_input)

3

In [15]:
mon_input = input()

In [16]:
print(mon_input)

Cesc

## None type <a name="none"></a>

In [43]:
null_value = None
type(null_value)

NoneType

<br><br><br>

# Variables composées

## Lists <a name="lists"></a>

Equivalent des tableaux dans d'autres langages de programmation.

In [48]:
a_empty = []
a = [1,2,3]
a = list([1,2,3])
a

[1, 2, 3]

In [49]:
liste = [1,2,3]
liste[0]

1

In [52]:
a_empty = []
a_empty

[]

In [53]:
a_empty[0]

IndexError: list index out of range

Une liste contenant 1 élément n'est pas égale à l'élément qu'elle contient

In [54]:
[2.2] == 2.2

False

In [55]:
type([2.2])

list

In [56]:
[2.2][0] == 2.2

True

Listes peuvent contenir plusieurs types.

In [58]:
multi = [1,"Salut",None, 3.2]

In [59]:
print(multi)

[1, 'Salut', None, 3.2]

Ajouter un élément à une liste: Insère en dernier élément la variable passée en argument. Modifie la variable mais ne retourne rien.

In [60]:
multi.append(32)
print(multi)

[1, 'Salut', None, 3.2, 32]

Etendre une liste. Doit passer en argument une autre liste.

In [61]:
multi.extend([100,102])
multi

[1, 'Salut', None, 3.2, 32, 100, 102]

In [62]:
multi + [100,102]

[1, 'Salut', None, 3.2, 32, 100, 102, 100, 102]

In [63]:
multi

[1, 'Salut', None, 3.2, 32, 100, 102]

Sélection d'éléments dans la liste. Attention, la numérotation commence à 0 (pas comme en R).

In [77]:
first = multi[0] # => 1
last = multi[-1] # => 102
sli = multi[1:3] # => ['Salut', None]
sli2 = multi[2:] # => [None, 3.2, 32, 100, 102]
sli3 = multi[:4] # => [1, 'Salut', None, 3.2]

print(first)
print(last)
print(sli)
print(sli2)
print(sli3)

1
102
['Salut', None]
[None, 3.2, 32, 100, 102, 100, 102]
[1, 'Salut', None, 3.2]

In [64]:
multi[1:5:2]

['Salut', 3.2]

In [80]:
multi[5:1:-1]

[100, 32, 3.2, None]

In [81]:
multi[::-1]

[102, 100, 102, 100, 32, 3.2, None, 'Salut', 1]

Créer une séquence de nombre

In [20]:
ran = range(10) # => [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
ran2 = range(2,10) # => [2, 3, 4, 5, 6, 7, 8, 9]
ran3 = range(2,10,2) # => [2, 4, 6, 8]

print(list(ran))
print(list(ran2))
print(list(ran3))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]

In [21]:
ran

range(0, 10)

Supprimer un élément de la liste : del

In [22]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
del(a[0])
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Inverser la liste : reverse

In [83]:
a = list(range(10))
print(a)
a.reverse()
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [86]:
a = list(range(10))
print(a)
a[::-1]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [93]:
a = list(range(10))

In [94]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [95]:
a.append(7)
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 7]

Trouver l'indice d'une valeur : index

In [96]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 7]

In [97]:
a.index(7)

7

In [106]:
# fonctions sur les listes : somme, longueur = nb d'éléments, min, max
liste1 = [1, 3, 7, 9]

sum(liste1), len(liste1), min(liste1), max(liste1)

(20, 4, 1, 9)

In [69]:
# ajout d'une liste à une liste

liste1 = list(range(5))
liste2 = list(range(10, 20, 2))
liste1 + liste2

[0, 1, 2, 3, 4, 10, 12, 14, 16, 18]

In [70]:
liste1.extend(liste2)
liste1

[0, 1, 2, 3, 4, 10, 12, 14, 16, 18]

## Tuples <a name="tuples"></a>

Les tuples sont des listes impossibles à modifier.  
Ils fonctionnent comme les listes pour ce qui est de la visualisation, mais elles ne peuvent être étendues ou modifiées.  
Ils sont rarement utilisés en data science.

In [62]:
t = (3,5,4)
print(t)
print(t[1])

(3, 5, 4)
5

In [63]:
t[0]=0

TypeError: 'tuple' object does not support item assignment

In [64]:
t.append(6)

AttributeError: 'tuple' object has no attribute 'append'

## Dictionnaries <a name="dictionnaries"></a>

Les dictionnnaires sont une structure clé/valeur.

In [113]:
personne = {}
personne["prenom"] = "John"
personne["nom"] = "Smith"

personne

{'prenom': 'John', 'nom': 'Smith'}

On accède aux éléments du dictionnaire par la clé

In [66]:
print(personne["prenom"])

John

On peut modifier la valeur associée à une clé facilement

In [111]:
personne["prenom"] = "Peter"
print(personne)

{'prenom': 'Peter', 'nom': 'Smith'}

In [112]:
liste_cles = personne.keys()
liste_valeurs = personne.values()
liste_items = personne.items()

print(liste_cles)
print(liste_valeurs)
print(liste_items)

dict_keys(['prenom', 'nom'])
dict_values(['Peter', 'Smith'])
dict_items([('prenom', 'Peter'), ('nom', 'Smith')])

In [71]:
list(liste_items)[0]

('prenom', 'Peter')

Ajout d'une nouvelle clé

In [114]:
personne["age"] = 30
print(personne)

{'prenom': 'John', 'nom': 'Smith', 'age': 30}

In [115]:
print(list(personne.keys()))

['prenom', 'nom', 'age']

Autre initialisation de dictionnaire possible :

In [74]:
personne2 = dict(prenom="Emma",nom="Stone",age=29)
print(personne2)

{'prenom': 'Emma', 'nom': 'Stone', 'age': 29}

In [75]:
personne3 = {'prenom': 'Emma', 'nom': 'Stone', 'age': 29}
print(personne3)

{'prenom': 'Emma', 'nom': 'Stone', 'age': 29}

In [76]:
personne3

{'prenom': 'Emma', 'nom': 'Stone', 'age': 29}

In [77]:
list(personne3.items())

[('prenom', 'Emma'), ('nom', 'Stone'), ('age', 29)]

## Sets <a name="sets"></a>

Un set est un ensemble d'élements uniques. 
Ils permettent d'utiliser des opérations d'ensemble telles que l'union, l'intersection ou la différence.

In [81]:
mon_panier = {'pomme', 'orange', 'pomme', 'poire', 'orange', 'banane'}
print(mon_panier)

print('orange' in mon_panier)
print('lemongrass' in mon_panier)

{'orange', 'poire', 'banane', 'pomme'}
True
False

In [79]:
ma_liste = ["entrecote", "faux-filet", "travers"]
print("entrecote" in ma_liste) # Les listes supportent aussi certaines opérations ensemblistes

True

In [65]:
a = set('abracadabra')
b = set('alacazam')

print(a)
print(b)
print(a-b)                
print(a|b)                       
print(a&b)                        
print(a^b)

{'b', 'c', 'd', 'a', 'r'}
{'c', 'm', 'l', 'z', 'a'}
{'d', 'b', 'r'}
{'b', 'c', 'm', 'd', 'a', 'l', 'z', 'r'}
{'a', 'c'}
{'l', 'b', 'z', 'm', 'd', 'r'}